# 用requirements.txt搭建镜像会出错，原因未知
# 所有被注释的库都不能直接搭建镜像，未被注释的可行，可能是需要指定版本
#threading
#sqlite3
#os
#File
#model
#cv2
#base64
numpy
pandas
#json
jsonify
#zipfile
onnx
onnxruntime
#time
Flask
#request
CORS
#MyThread
#re